.dropdown {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: .9em;
    border: 1.5px solid;
    border-collapse: separate;
    border-radius: 5px;
}

#about-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #119f92;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-popup {
    border: solid black;
    border-radius: 5%;
    display: none;
    position: absolute;
    background-color: #fff;
    color: black;
    padding: 10px;
    bottom: 50px;
    right: 20px;
    width: 500px;
    z-index: 1;
}

#about-popup a {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #004068;
}

#about-questionmark {
    font-size: 24px;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2em;
    color: #232323;
    line-height: 27px;
    text-align: left;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.2em;
    text-align: left;
    white-space: nowrap;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.7em;
    line-height: 5px;
    padding: 5px 5px 5px 5px;
    text-align: left;
}

.header {
    position: absolute;
    background-color: white;
    opacity: 100%;
    width: 240px;
    z-index: 100;
    height: 150px;
    border-right: solid #006c63 1.5px;
    border-bottom: solid #006c63 1.5px;
}

#logo {
    position: absolute;
    /* height: 90px; */
    padding: 5px 0 0 5px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-popup-content {
    padding: 6px;
    border-radius: .7em;
    width: max-content;
    text-wrap: nowrap;
    border: solid black 1.5px;
}


.mapboxgl-popup-content h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.3em;
    line-height: 20px;
}

.mapboxgl-popup-content p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: .8em;
}

.mapboxgl-popup-close-button {
    padding: 7px; 
    font-size: 17px; 
}

.menu {
    position: absolute;
    background-color: white;
    left: 0;
    width: 240px;
    top: 150px;
    height: 449px;
    padding-top: 7px;
    border-right: solid #006c63 1.5px;
}

#menu-top {
    height: 150px;
    padding: 0px 0px 5px 2px;
}

#menu-middle {
    height: 292px;
    padding: 0 10px 0 10px;
    border-bottom: solid #006c63 1.5px;
}

p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 0.7em;
    display: block;
    line-height: 15px;
    padding-bottom: 2px; 
}

.party-square {
    margin-right: 5px;
    width: 12px;
    height: 12px;
}

table.table1 {
    /* border-collapse: separate; */
    /* border-radius: 5px; */
    /* padding: 2px 2px 2px 2px; */
    width: 100%;
}

table.table1 td {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: .85em;
    text-align: left;
    padding-right: 5px;
    white-space: nowrap;
}

table.table1 th {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: .8em;
    padding-right: 20px;
    text-align: left;
    border-bottom: .75px solid black;
}

table.table2 {
    width: 100%;
    height: 95%;
    table-layout: fixed;
}

table.table2 td {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: .65em;
    height: 10%;
    text-align: center;
    padding: 5px 2px 5px 2px;
}

table.table2 th {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: .7em;
    height: 5%;
    text-align: center;
    padding: 5px 2px 5px 2px;
}

#title {
    padding-top: 60px;
    padding-left: 5px;
}

#welcome-message {
    display: None;
    width: 300px;
}

#welcome-message a {
    font-family: 'Montserrat';
    font-weight: 700;
}

@media (max-width: 768px) {
    .menu {
      display: block;
    }
  
    /* Style the toggle button */
    #menu-toggle {
        position: absolute;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        top: 58px;
        right: 10px;
        background-color: #f68f3e;
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Add this to your CSS to control menu visibility */
    .menu.menu-visible {
        display: none;
    }
  }

/* Hide the mobile-only container on screens wider than 768px */
@media (min-width: 769px) {
    .mobile-only {
      display: none;
    }
  }