#map {
    left: 270px;
    width: calc(100% - 270px);
    height: 100%;
}

.header {
    background-color: white;
    opacity: 100%;
    position: absolute;
    width: 100%;
    display: inline;
    z-index: 90;
    height: 80px;
    border-bottom: solid black;
}

.title {
    padding: 5px 5px 20px 5px;
    margin: 0 0 0 75px;
}

#logo {
    position: absolute;
    height: 80px;
    padding: 10px 0 10px 20px;
    display: inline-block;
    box-align: center;
    z-index: 100;
}

.menu {
    position: absolute;
    left: 0;
    width: 270px;
    top: 80px;
    height: calc(100% - 80px);
    margin-left: 5px;
    margin-right: 5px;
    border-right: solid black 2px;
}

#menu-top {
    height: 150px;
    padding-top: 10px;
    overflow: auto;
}

#menu-middle {
    height: 330px;
    top: 550px;
}

#menu-bottom {
    top: 880px;
    padding-top: 25px;
    height: 250px;
}

table.table1 {
    width: 95%;
    border: 1.5px solid;
    border-collapse: separate;
    border-radius: 10px;
    padding: 5px 5px 5px 0px;
}

table.table1 td {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: .7em;
    height: 5%;
    text-align: center;
    padding: 5px 2px 5px 0px;
}

table.table1 th {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: .8em;
    height: 5%;
    text-align: center;
    padding: 5px 2px 5px 0px;
    border-bottom: 1.5px solid black;
}

table.table2 {
    width: 95%;
    height: 85%;
    border: 1.5px solid;
    border-collapse: separate;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    table-layout: fixed;
}

table.table2 td {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: .7em;
    height: 5%;
    text-align: center;
    padding: 5px 2px 5px 2px;
}

table.table2 th {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: .8em;
    height: 5%;
    text-align: center;
    padding: 5px 2px 5px 2px;
}

.dropdown {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: .8em;
    border: 1.5px solid;
    border-collapse: separate;
    border-radius: 5px;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.8vw;
    text-align: center;
    line-height: 40px;
    padding: 15px 20px 0 20px;
    right: 0px;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.2em;
    margin: 5px 0 10px 0;
    text-align: center;
}

p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: .8em;
    display: block;
    margin: 15px 0 5px 0;
    line-height: 15px;
}

#welcome-message {
    display: None;
    width: 600px;
}

#welcome-message a {
    font-family: 'Montserrat';
    font-weight: 700;
}